@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body,
#root,
main {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
}

p,
h1 {
  margin: 0 !important;
}

body {
  margin: 0;
}

main {
  margin-top: 20px;
}

.login-h1 {
  font-size: 4rem;
}

nav .link {
  padding-top: 2px;
}

#refresh-btn,
nav .link {
  text-transform: uppercase;
}

.book {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  border-radius: 26px;
  padding: 4px 26px;
  box-shadow: #424242;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@media (max-width: 700px) {
  body > * {
    margin: 0 5%;
  }
}

@media (min-width: 700px) {
  body > * {
    margin: 0 10%;
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .book {
    margin: 8px 0;
  }
}

.book-details {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-weight: 600;
}

.form-range {
  max-width: 350px;
}

button {
  border: none !important;
  padding: 0 !important;
}

button img {
  height: 20px;
}

button img:hover {
  opacity: 0.75;
}

.link:hover {
  opacity: 0.85;
}

.loader-container,
.login-form,
.not-found-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-error {
  background-color: #fa7121;
  color: #fff;
  padding: 10px 20px;
}

.error-msg,
.info-msg {
  padding-top: 10vh;
}

input[type='password'],
input[type='email'] {
  min-width: 240px;
}

.loader {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #424242;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
