$primary: #424242;
$secondary: #fff;
@import '~bootstrap/scss/bootstrap';

body {
  --bs-primary: #424242;
  --bs-secondary: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
}

body.dark-mode {
  --bs-primary: #fff;
  --bs-secondary: #424242;
}

button,
.btn,
img,
.link {
  transition: opacity 0.3s ease, color 0.3s ease;
}

.link,
h1,
p {
  color: var(--bs-primary);
}

.book p {
  color: $primary;
}

input[type='range']::-webkit-slider-thumb {
  background-color: #000;
}

input[type='submit'],
input[type='submit']:hover {
  color: var(--bs-secondary);
  background-color: var(--bs-primary);
}
input[type='submit']:hover {
  opacity: 0.9;
}
